<div class="block">
    <div class="row">
        <div class="col-md-6">
            <h3 class="block-title">DIP Paling Dicari </h3>
            <div class="stat">
                <a href="rinciandip-52-2-2159"><small style="text-align:left;"> LAKIP Kabupaten Lombok Barat Tahun 2016<span class="badge pull-right"> 25166 X </a></small>
                <a href="rinciandip-48-2-1698"><small style="text-align:left;"> LRA -  2016<span class="badge pull-right"> 3068 X </a></small>
                <a href="rinciandip-18-2-1564"><small style="text-align:left;"> Struktur organisasi kesbangpol<span class="badge pull-right"> 2736 X </a></small>
                <a href="rinciandip-10-4-756"><small style="text-align:left;"> SK. Tim penyusun RKPD Tahun 2016<span class="badge pull-right"> 2640 X </a></small>
                <a href="rinciandip-48-2-2321"><small style="text-align:left;"> SOP Pelayanan Informasi Publik PPID Lombok Barat<span class="badge pull-right"> 2576 X </a></small>
                <a href="rinciandip-8-4-1978"><small style="text-align:left;"> Struktur Organisasi DPUTR 2017<span class="badge pull-right"> 2417 X </a></small>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="block-title">DIP Paling Banyak Didownload </h3>
            <div class="stat">
                <a href="rinciandip-14-2-4891"><small style="text-align:left;"> Data Statistik DP2KBP3A Lobar<span class="badge pull-right " > 4175 X </a></small>
                <a href="rinciandip-10-4-561"><small style="text-align:left;"> PDRB atas Dasar Penggunaan Tahun 2013<span class="badge pull-right " > 1309 X </a></small>
                <a href="rinciandip-26-2-433"><small style="text-align:left;"> Data SKPD<span class="badge pull-right " > 1275 X </a></small>
                <a href="rinciandip-10-4-756"><small style="text-align:left;"> SK. Tim penyusun RKPD Tahun 2016<span class="badge pull-right " > 1209 X </a></small>
                <a href="rinciandip-2-2-3219"><small style="text-align:left;"> Keputusan Bupati Lombok Barat No. 110/19.1/Diskominfo tentang PLID Lombok Barat Tahun 2018<span class="badge pull-right " > 1157 X </a></small>
                <a href="rinciandip-5-2-52"><small style="text-align:left;"> daftar Nama SMP Terbuka di Lombok Barat 2014<span class="badge pull-right " > 1055 X </a></small>
            </div>
        </div>
    </div>
</div>