{% load static %}
<footer id="footer" class="block block-bg-grey-dark" data-block-bg-img="{% static 'images/bil.jpg' %}" data-stellar-background-ratio="0.4">
    <div class="container">
        <div class="row" id="contact">
            <div class="col-md-3">
                <h4 class="text-uppercase">MAPS</h4>
                <i class="fa fa-map-o fa-fw text-primary"></i> Scan QR Code Dibawah Untuk Mendapat Lokasi Kantor PPID Lombok Barat
                <img src="{% static 'images/ppid.qr.png' %}">
            </div>
            <div class="col-md-6">
                <h4 class="text-uppercase">HUBUNGI KAMI</h4>

                <address>
                    <strong>PPID Kabupaten Lombok Barat</strong>
                    <br>
    
                    <i class="fa fa-globe  fa-fw text-primary"></i> http://ppid.lombokbaratkab.go.id
                    <br>
    
                    <i class="fa fa-phone fa-fw text-primary"></i> 
                    <br>
    
                    <i class="fa fa-envelope-o fa-fw text-primary"></i> ppid@lombokbaratkab.go.id<br>
                    <i class="fa fa-map-pin fa-fw text-primary"></i> KANTOR DISKOMINFOTIK LOMBOK BARAT Jl. Soekarno - Hatta, Giri Menang Gerung
                    <br>
    
                    <i class="fa fa-leanpub fa-fw text-primary"></i> Kabupaten Lombok Barat
                    <br>
    
                    <i class="fa fa-trello fa-fw text-primary"></i> Provinsi Nusa Tenggara Barat - Indonesia
                    <br>
                    <br>
                    <br>

                </address>
            </div>
            <div class="col-md-3">
                <h4 class="text-uppercase"></h4>
                <!--social media icons-->
                <div class="social-media social-media-stacked">
                    <a href="https://play.google.com/store/apps/details?id=com.ppid.diskominfo.ppid" target="_blank" class="text-uppercase"><i class="fa fa-android fa-fw"></i> Adroid</a>
                        <a href="https://www.facebook.com/ppid.lobar" target="_blank"><i class="fa fa-facebook fa-fw"></i> Facebook</a>
                        <!--@todo: replace with company social media details-->
                        <a href="http://ppid.lombokbaratkab.go.id">Copyright © PPID<br> Kabupaten Lombok Barat</a>
                        <a href="http://diskominfo.lombokbaratkab.go.id/">PPID Kabupaten Lombok Barat</a> by Diskominfo Lombok Barat
                        <p>
                            <!-- Histats.com  (div with counter) -->

                    <div id="histats_counter"></div>

                    <!-- Histats.com  START  (aync)-->
                    <script type="text/javascript">var _Hasync= _Hasync|| [];
                    _Hasync.push(['Histats.start', '1,3908675,4,30,130,80,00011101']);
                    _Hasync.push(['Histats.fasi', '1']);
                    _Hasync.push(['Histats.track_hits', '']);
                    (function() {
                    var hs = document.createElement('script'); hs.type = 'text/javascript'; hs.async = true;
                    hs.src = ('//s10.histats.com/js15_as.js');
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(hs);
                    })();</script>
                    <noscript><a href="/" target="_blank"><img  src="//sstatic1.histats.com/0.gif?3908675&101" alt="free hit counter" border="0"></a></noscript>
                    <!-- Histats.com  END  --></p>
                </div>
            </div>
        </div>
        <div class="row subfooter">
            <!--@todo: replace with company copyright details-->
            <div class="col-md-7">
                <p></p>
                <div class="credits">
                </div>
            </div>
        </div>
        <a href="#top" class="scrolltop">Top</a> 
    </div>
</footer>