{% load static %}
<meta charset="utf-8">
<title>PPID - Lombok Barat</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="ppid lombok barat, data lomok barat, lhkpn lombok barat, pejabat lombok barat, statistik lombok barat" name="keywords">
<meta content="PPID Kabupaten Lombok Barat" name="description">

<!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
<meta property="og:title" content="">
<meta property="og:image" content="">
<meta property="og:url" content="">
<meta property="og:site_name" content="">
<meta property="og:description" content="">

<!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="">
<meta name="twitter:title" content="">
<meta name="twitter:description" content="">
<meta name="twitter:image" content="">

<!-- Fav and touch icons -->
<link rel="shortcut icon" href="{% static 'img/icons/favicon.png' %}">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'img/icons/114x114.png' %}">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'img/icons/72x72.png' %}">
<link rel="apple-touch-icon-precomposed" href="{% static 'img/icons/default.png' %}">

<!-- Google Fonts -->
<!--<link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" rel="stylesheet">-->


<!--Your custom colour override - predefined colours are: colour-blue.css, colour-green.css, colour-lavander.css, orange is default-->
<link href="#" id="colour-scheme" rel="stylesheet">