<div class="container">
    <h2 class="block-title">
    PPID - Hak Anda Untuk Tahu
    </h2>
    <div class="row">
        <div class="col-md-4 text-center">
            <span class="fa-stack fa-5x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-group fa-stack-1x fa-inverse"></i> </span>
            <h4 class="text-weight-strong">Daftar Informasi Publik - DIP</h4>
            <p>Daftar Informasi Publik Kabupaten Lombok Barat</p>
            <p><a href="/DIP" class="btn btn-more i-right">Lihat DIP <i class="fa fa-angle-right"></i></a></p>
        </div>
        <div class="col-md-4 text-center">
            <span class="fa-stack fa-5x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i> </span>
            <h4 class="text-weight-strong">Permintaan Informasi </h4>
            <p>Formulir untuk mendapatkkan daftar informasi Publik.</p>
            <p><a href="/permintaandata" class="btn btn-more i-right">Detail <i class="fa fa-angle-right"></i></a></p>
        </div>
        <div class="col-md-4 text-center">
            <span class="fa-stack fa-5x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-cogs fa-stack-1x fa-inverse"></i> </span>
            <h4 class="text-weight-strong">Mekanisme</h4>
            <p>Mekanisme dan standar pelayanan PPID </p>
            <p><a href="/mekanisme" class="btn btn-more i-right">Selengkapnya <i class="fa fa-angle-right"></i></a></p>
        </div>
        <div class="col-md-4 text-center">
            <span class="fa-stack fa-5x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa fa-phone fa-stack-1x fa-inverse"></i> </span>
            <h4 class="text-weight-strong">
                Layanan Pengaduan
            </h4>
            <p>Sarana Pengaduan dan Penyampaian Keluhan </p>
            <p>
                <a href="/complaint" class="btn btn-more i-right">Selengkapnya<i class="fa fa-angle-right"></i></a>
            </p>
        </div>

        <div class="col-md-4 text-center">
            <span class="fa-stack fa-5x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-gavel fa-stack-1x fa-inverse"></i> </span>
            <h4 class="text-weight-strong">
                Penyelesaian Sengketa
            </h4>
            <p>Upaya penyelesaian Sengketa Informasi Publik </p>
            <p>
                <a href="/dispute-resolution" class="btn btn-more i-right">Selengkapnya <i class="fa fa-angle-right"></i></a>
            </p>
        </div>
        
        <div class="col-md-4 text-center">
            <span class="fa-stack fa-5x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-external-link fa-stack-1x fa-inverse"></i> </span>
            <h4 class="text-weight-strong">
                Organisasi Perangkat Daerah
            </h4>
            <p>Daftar Informasi Publik berdasarkan kategori OPD.</p>
            <p>
                <a href="/opd" class="btn btn-more i-right">OPD Lobar  <i class="fa fa-angle-right"></i></a>
            </p>
        </div>
    </div>
</div>