{% load static %}
<div class="block block-pd-sm block-bg-primary">
    <div class="container">
        <div class="row">
            <h3 class="col-md-4">Link Terkait</h3>
            <div class="col-md-8">
                <div class="row">
                    <!--Client logos should be within a 120px wide by 60px height image canvas-->
                    <div class="col-xs-6 col-md-2">
                        <a href="http://www.ntbprov.go.id/" title="Provinsi Nusa Tenggara Barat" target="_blank">
                        <img src="{% static 'img/clients/client6.png' %}" alt="Provinsi Nusa Tenggara Barat" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <a href="http://www.lombokbaratkab.go.id/" title="Kabupaten Lombok Barat" target="_blank">
                        <img src="{% static 'img/clients/client1.png' %}" alt="Kabupaten Lombok Barat" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <a href="http://diskominfo.lombokbaratkab.go.id/" title="Diskominfo Lombok Barat" target="_blank">
                        <img src="{% static 'img/clients/client3.png' %}" alt="Diskominfo Lombok Barat" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <a href="http://lpse.lombokbaratkab.go.id/" title="Layanan Pengadaan Barang dan Jasa Lombok Barat" target="_blank">
                        <img src="{% static 'img/clients/client2.png' %}" alt="Layanan Pengadaan Barang dan Jasa Lombok Barat" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <a href="https://www.komisiinformasi.go.id/" title="Komisi Informasi Pusat" target="_blank">
                        <img src="{% static 'img/clients/client4.png' %}" alt="Komisi Informasi Pusat" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <a href="https://elhkpn.kpk.go.id/portal/user/login" title="LHKPN KPK" target="_blank">
                        <img src="{% static 'img/clients/client5.png' %}" alt="LHKPN KPK" class="img-responsive">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>