<div class="mission text-center block block-pd-sm block-bg-noise">
    <div class="container">
        <h2 class="text-shadow-white">
            Pejabat anggota Pengelola Informasi dan Dokumentasi (PPID) Kabupaten Lombok Barat menyediakan akses informasi publik bagi pemohon informasi sebagai salah satu wujud pelaksanaan keterbukaan informasi publik. 
            <hr>
        </h2>
        <h2 class="text-shadow-white">
            <a href= "https://docs.google.com/forms/d/e/1FAIpQLSd9vk55z6xQyS5h-Xu8x0QpA2fTsfsHb-Sh23CMPtbk5p0VSw/viewform" target ="_blank"> Silakan Isi Evaluasi Kepuasan Masyarakat Terhadap Layanan Keterbukaan Informasi Publik Lombok Barat </a>
        </h2>
    </div>
</div>