<div class="showcase block block-border-bottom-grey">
    <div class="container">
        <h2 class="block-title">
        Berita PPID
        </h2>
        <div class="item-carousel" data-toggle="owlcarousel" data-owlcarousel-settings='{"items":1, "pagination":false, "navigation":true, "itemsScaleUp":true}'>
            <div class="item">
            <a href="#" class="overlay-wrapper">
                <img src=""  alt="Berita PPID Lombok Barat" class="img-responsive underlay ">
                <span class="overlay">
                <span class="overlay-content"> <span class="h4">100</span> </span>
                </span></a>
                <div class="item-details bg-noise">
                    <h4 class="item-title">
                    <a href=""> </a>
                    </h4>
                    <a href=""><i class="fa fa-plus"></i>Selengkapnya</a>
                </div>
            </div>
        </div>
    </div>
</div>