{% extends "ppid/base-content.html" %}

{% block content %}
        <div class="block-highlight block-pd-h block-pd-sm">
            <h3 class="block-title">
               <!-- ISI DIP -->
          <h2 class="block-title">
            Tugas Fungsi PPID
          </h2>
           <div class="text-center pull-center" >
          <p>
        <div class=Section1>
            <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
            text-align:center;line-height:normal'><b><span lang=IN style='font-size:14.0pt;
            font-family:"Bookman Old Style","serif"'>TUGAS DAN FUNGSI/WEWENANG PPID UTAMA</span></b></p>

            <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
            text-align:center;line-height:normal'><b><span lang=IN style='font-size:14.0pt;
            font-family:"Bookman Old Style","serif"'>KABUPATEN LOMBOK BARAT</span></b></p>

            <div style='border:none;border-bottom:solid windowtext 1.0pt;padding:0cm 0cm 1.0pt 0cm'>

            <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
            text-align:center;line-height:normal;border:none;padding:0cm'><span lang=IN
            style='font-family:"Times New Roman","serif"'>( Perda No. 2 Tahun 2017 ttg
            Keterbukaan Informasi Publik )</span></p>

            </div>

            <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
            justify;line-height:normal'><b><span lang=IN style='font-size:12.0pt;
            font-family:"Times New Roman","serif"'>Pasal 13</span></b></p>

            <p class=MsoListParagraphCxSpFirst style='margin-top:0cm;margin-right:0cm;
            margin-bottom:0cm;margin-left:21.3pt;margin-bottom:.0001pt;text-align:justify;
            text-indent:-21.3pt;line-height:normal'><span lang=IN style='font-size:12.0pt;
            font-family:"Times New Roman","serif"'>(1)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span dir=LTR></span><span lang=IN style='font-size:12.0pt;
            font-family:"Times New Roman","serif"'>PPID Utama mempunyai tugas :</span></p>

            <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
            margin-bottom:0cm;margin-left:35.45pt;margin-bottom:.0001pt;text-align:justify;
            text-indent:-14.15pt;line-height:normal'><span lang=IN style='font-size:12.0pt;
            font-family:"Times New Roman","serif"'>a.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
            </span></span><span dir=LTR></span><span lang=IN style='font-size:12.0pt;
            font-family:"Times New Roman","serif"'>mengoordinasikan dan mengonsolidasikan
            pengumpulan bahan Informasi Publik dan Dokumentasi dari Perangkat Daerah;</span></p>

            <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
            margin-bottom:0cm;margin-left:35.45pt;margin-bottom:.0001pt;text-align:justify;
            text-indent:-14.15pt;line-height:normal'><span lang=IN style='font-size:12.0pt;
            font-family:"Times New Roman","serif"'>b.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
            </span></span><span dir=LTR></span><span lang=IN style='font-size:12.0pt;
            font-family:"Times New Roman","serif"'>menyimpan, mendokumentasikan,
            menyediakan dan memberi pelayanan Informasi Publik kepada publik;</span></p>

            <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
            margin-bottom:0cm;margin-left:35.45pt;margin-bottom:.0001pt;text-align:justify;
            text-indent:-14.15pt;line-height:normal'><span lang=IN style='font-size:12.0pt;
            font-family:"Times New Roman","serif"'>c.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
            </span></span><span dir=LTR></span><span lang=IN style='font-size:12.0pt;
            font-family:"Times New Roman","serif"'>melakukan verifikasi bahan Informasi
            Publik;</span></p>

            <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
            margin-bottom:0cm;margin-left:35.45pt;margin-bottom:.0001pt;text-align:justify;
            text-indent:-14.15pt;line-height:normal'><span lang=IN style='font-size:12.0pt;
            font-family:"Times New Roman","serif"'>d.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
            </span></span><span dir=LTR></span><span lang=IN style='font-size:12.0pt;
            font-family:"Times New Roman","serif"'>melakukan pemutakhiran Informasi Publik
            dan Dokumentasi;</span></p>

            <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
            margin-bottom:0cm;margin-left:35.45pt;margin-bottom:.0001pt;text-align:justify;
            text-indent:-14.15pt;line-height:normal'><span lang=IN style='font-size:12.0pt;
            font-family:"Times New Roman","serif"'>e.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
            </span></span><span dir=LTR></span><span lang=IN style='font-size:12.0pt;
            font-family:"Times New Roman","serif"'>menyediakan Informasi Publik dan Dokumentasi
            untuk diakses  oleh masyarakat;</span></p>

            <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
            margin-bottom:0cm;margin-left:35.45pt;margin-bottom:.0001pt;text-align:justify;
            text-indent:-14.15pt;line-height:normal'><span lang=IN style='font-size:12.0pt;
            font-family:"Times New Roman","serif"'>f.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span dir=LTR></span><span lang=IN style='font-size:12.0pt;
            font-family:"Times New Roman","serif"'>melakukan inventarisasi Informasi Publik
            yang dikecualikan untuk melakukan Uji Konsekuensi oleh tim pertimbangan;</span></p>

            <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
            margin-bottom:0cm;margin-left:35.45pt;margin-bottom:.0001pt;text-align:justify;
            text-indent:-14.15pt;line-height:normal'><span lang=IN style='font-size:12.0pt;
            font-family:"Times New Roman","serif"'>g.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
            </span></span><span dir=LTR></span><span lang=IN style='font-size:12.0pt;
            font-family:"Times New Roman","serif"'>membuat laporan pelayanan Informasi
            Publik, yang mencakup:</span></p>

            <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
            margin-bottom:0cm;margin-left:49.65pt;margin-bottom:.0001pt;text-align:justify;
            text-indent:-14.2pt;line-height:normal'><span lang=IN style='font-size:12.0pt;
            font-family:"Times New Roman","serif"'>1)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
            </span></span><span dir=LTR></span><span lang=IN style='font-size:12.0pt;
            font-family:"Times New Roman","serif"'>Jumlah permohonan Informasi Publik yang
            diterima;</span></p>

            <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
            margin-bottom:0cm;margin-left:49.65pt;margin-bottom:.0001pt;text-align:justify;
            text-indent:-14.2pt;line-height:normal'><span lang=IN style='font-size:12.0pt;
            font-family:"Times New Roman","serif"'>2)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
            </span></span><span dir=LTR></span><span lang=IN style='font-size:12.0pt;
            font-family:"Times New Roman","serif"'>waktu yang diperlukan dalam memenuhi
            setiap permohonan Informasi Publik;</span></p>

            <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
            margin-bottom:0cm;margin-left:49.65pt;margin-bottom:.0001pt;text-align:justify;
            text-indent:-14.2pt;line-height:normal'><span lang=IN style='font-size:12.0pt;
            font-family:"Times New Roman","serif"'>3)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
            </span></span><span dir=LTR></span><span lang=IN style='font-size:12.0pt;
            font-family:"Times New Roman","serif"'>jumlah permohonan Informasi Publik yang
            dikabulkan  baik sebagian atau seluruhnya dan permohonan informasi publik yang
            ditolak;</span></p>

            <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
            margin-bottom:0cm;margin-left:49.65pt;margin-bottom:.0001pt;text-align:justify;
            text-indent:-14.2pt;line-height:normal'><span lang=IN style='font-size:12.0pt;
            font-family:"Times New Roman","serif"'>4)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
            </span></span><span dir=LTR></span><span lang=IN style='font-size:12.0pt;
            font-family:"Times New Roman","serif"'>alasan penolakan permohonan Informasi
            Publik.</span></p>

            <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
            margin-bottom:0cm;margin-left:21.3pt;margin-bottom:.0001pt;text-align:justify;
            text-indent:-21.3pt;line-height:normal'><span lang=IN style='font-size:12.0pt;
            font-family:"Times New Roman","serif"'>(2)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span dir=LTR></span><span lang=IN style='font-size:12.0pt;
            font-family:"Times New Roman","serif"'>Untuk menyelenggarakantugas sebagaimana
            dimaksud ayat (1) PPID utama berfungsi:</span></p>

            <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
            margin-bottom:0cm;margin-left:35.45pt;margin-bottom:.0001pt;text-align:justify;
            text-indent:-14.15pt;line-height:normal'><span lang=IN style='font-size:12.0pt;
            font-family:"Times New Roman","serif"'>a.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
            </span></span><span dir=LTR></span><span lang=IN style='font-size:12.0pt;
            font-family:"Times New Roman","serif"'>penghimpunan Informasi Publik dari
            Perangkat Daerah; dan</span></p>

            <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
            margin-bottom:0cm;margin-left:35.45pt;margin-bottom:.0001pt;text-align:justify;
            text-indent:-14.15pt;line-height:normal'><span lang=IN style='font-size:12.0pt;
            font-family:"Times New Roman","serif"'>b.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
            </span></span><span dir=LTR></span><span lang=IN style='font-size:12.0pt;
            font-family:"Times New Roman","serif"'>penataan dan penyimpanan Informasi
            Publik yang diperoleh dari Perangkat Daerah.</span></p>

            <p class=MsoListParagraphCxSpLast style='margin-top:0cm;margin-right:0cm;
            margin-bottom:0cm;margin-left:35.45pt;margin-bottom:.0001pt;text-align:justify;
            text-indent:-14.15pt;line-height:normal'><span lang=IN style='font-size:12.0pt;
            font-family:"Times New Roman","serif"'>c.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
            </span></span><span dir=LTR></span><span lang=IN style='font-size:12.0pt;
            font-family:"Times New Roman","serif"'>Ketentuan lebih lanjut mengenai tata
            kerja PPID Utama diatur dengan Peraturan Bupati.</span></p>

            <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
            justify;line-height:normal'><b><span lang=IN style='font-size:12.0pt;
            font-family:"Times New Roman","serif"'>Pasal 14</span></b></p>

            <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
            justify;line-height:normal;text-autospace:none'><span lang=IN style='font-size:
            12.0pt;font-family:"Times New Roman","serif"'>Tanggung jawab PPID utama
            meliputi:</span></p>

            <p class=MsoListParagraphCxSpFirst style='margin-top:0cm;margin-right:0cm;
            margin-bottom:0cm;margin-left:21.3pt;margin-bottom:.0001pt;text-align:justify;
            text-indent:-21.3pt;line-height:normal;text-autospace:none'><span lang=IN
            style='font-size:12.0pt;font-family:"Times New Roman","serif"'>a.<span
            style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
            dir=LTR></span><span lang=IN style='font-size:12.0pt;font-family:"Times New Roman","serif"'>penghimpunan/pengumpulan
            dan penyimpanan Informasi Publik;</span></p>

            <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
            margin-bottom:0cm;margin-left:21.3pt;margin-bottom:.0001pt;text-align:justify;
            text-indent:-21.3pt;line-height:normal;text-autospace:none'><span lang=IN
            style='font-size:12.0pt;font-family:"Times New Roman","serif"'>b.<span
            style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
            dir=LTR></span><span lang=IN style='font-size:12.0pt;font-family:"Times New Roman","serif"'>pendokumentasian
            Informasi Publik; dan </span></p>

            <p class=MsoListParagraphCxSpLast style='margin-top:0cm;margin-right:0cm;
            margin-bottom:0cm;margin-left:21.3pt;margin-bottom:.0001pt;text-align:justify;
            text-indent:-21.3pt;line-height:normal;text-autospace:none'><span lang=IN
            style='font-size:12.0pt;font-family:"Times New Roman","serif"'>c.<span
            style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
            dir=LTR></span><span lang=IN style='font-size:12.0pt;font-family:"Times New Roman","serif"'>penyediaan
            layanan Informasi Publik.</span></p>

            <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
            justify;line-height:normal;text-autospace:none'><b><span lang=IN
            style='font-size:12.0pt;font-family:"Times New Roman","serif"'>Pasal 15</span></b></p>

            <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
            justify;line-height:normal;text-autospace:none'><span lang=IN style='font-size:
            12.0pt;font-family:"Times New Roman","serif"'>Penghimpunan/pengumpulan Informasi
            Publik sebagaimana dimaksud dalam Pasal 14 huruf  a dilakukan dengan cara
            meminta data dan informasi yang telah dimutakhirkan kepada Perangkat Daerah
            yang meliputi:</span></p>

            <p class=MsoListParagraphCxSpFirst style='margin-top:0cm;margin-right:0cm;
            margin-bottom:0cm;margin-left:21.3pt;margin-bottom:.0001pt;text-align:justify;
            text-indent:-21.3pt;line-height:normal;text-autospace:none'><span lang=IN
            style='font-size:12.0pt;font-family:"Times New Roman","serif"'>a.<span
            style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span dir=LTR></span><span lang=IN style='font-size:12.0pt;
            font-family:"Times New Roman","serif"'>informasi yang wajib disediakan dan
            diumumkan secara berkala;</span></p>

            <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
            margin-bottom:0cm;margin-left:21.3pt;margin-bottom:.0001pt;text-align:justify;
            text-indent:-21.3pt;line-height:normal;text-autospace:none'><span lang=IN
            style='font-size:12.0pt;font-family:"Times New Roman","serif"'>b.<span
            style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span dir=LTR></span><span lang=IN style='font-size:12.0pt;
            font-family:"Times New Roman","serif"'>informasi yang wajib tersedia setiap
            saat; dan</span></p>

            <p class=MsoListParagraphCxSpLast style='margin-top:0cm;margin-right:0cm;
            margin-bottom:0cm;margin-left:21.3pt;margin-bottom:.0001pt;text-align:justify;
            text-indent:-21.3pt;line-height:normal;text-autospace:none'><span lang=IN
            style='font-size:12.0pt;font-family:"Times New Roman","serif"'>c.<span
            style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span dir=LTR></span><span lang=IN style='font-size:12.0pt;
            font-family:"Times New Roman","serif"'>informasi terbuka lainnya yang diminta
            Pemohon Informasi Publik.</span></p>

            <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
            justify;line-height:normal;text-autospace:none'><span lang=IN style='font-size:
            12.0pt;font-family:"Times New Roman","serif"'>Pasal 16</span></p>

            <p class=MsoListParagraphCxSpFirst style='margin-top:0cm;margin-right:0cm;
            margin-bottom:0cm;margin-left:21.3pt;margin-bottom:.0001pt;text-align:justify;
            text-indent:-21.3pt;line-height:normal;text-autospace:none'><span lang=IN
            style='font-size:12.0pt;font-family:"Times New Roman","serif"'>(1)<span
            style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
            dir=LTR></span><span lang=IN style='font-size:12.0pt;font-family:"Times New Roman","serif"'>Penyimpanan
            Informasi  Publik sebagaimana dimaksud dalam Pasal 14 huruf a dilakukan di
            gudang penyimpanan data sesuai dengan ketentuan peraturan perundang-undangan
            tentang kearsipan.</span></p>

            <p class=MsoListParagraphCxSpLast style='margin-top:0cm;margin-right:0cm;
            margin-bottom:0cm;margin-left:21.3pt;margin-bottom:.0001pt;text-align:justify;
            text-indent:-21.3pt;line-height:normal;text-autospace:none'><span lang=IN
            style='font-size:12.0pt;font-family:"Times New Roman","serif"'>(2)<span
            style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
            dir=LTR></span><span lang=IN style='font-size:12.0pt;font-family:"Times New Roman","serif"'>Pelaksanaan
            penyimpanan sebagaimana dimaksud pada ayat (1) dapat dibantu oleh pejabat
            fungsional kearsipan.</span></p>

            <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
            justify;line-height:normal;text-autospace:none'><b><span lang=IN
            style='font-size:12.0pt;font-family:"Times New Roman","serif"'>Pasal 17</span></b></p>

            <p class=MsoListParagraphCxSpFirst style='margin-top:0cm;margin-right:0cm;
            margin-bottom:0cm;margin-left:21.3pt;margin-bottom:.0001pt;text-align:justify;
            text-indent:-21.3pt;line-height:normal;text-autospace:none'><span lang=IN
            style='font-size:12.0pt;font-family:"Times New Roman","serif"'>(1)<span
            style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
            dir=LTR></span><span lang=IN style='font-size:12.0pt;font-family:"Times New Roman","serif"'>PPID
            dalam melakukan pendokumentasian Informasi Publik sebagaimana dimaksud dalam
            Pasal 14  huruf b harus melakukan:</span></p>

            <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
            margin-bottom:0cm;margin-left:35.45pt;margin-bottom:.0001pt;text-align:justify;
            text-indent:-14.15pt;line-height:normal;text-autospace:none'><span lang=IN
            style='font-size:12.0pt;font-family:"Times New Roman","serif"'>a.<span
            style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
            dir=LTR></span><span lang=IN style='font-size:12.0pt;font-family:"Times New Roman","serif"'>pengklasifikasian;
            dan</span></p>

            <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
            margin-bottom:0cm;margin-left:35.45pt;margin-bottom:.0001pt;text-align:justify;
            text-indent:-14.15pt;line-height:normal;text-autospace:none'><span lang=IN
            style='font-size:12.0pt;font-family:"Times New Roman","serif"'>b.<span
            style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
            dir=LTR></span><span lang=IN style='font-size:12.0pt;font-family:"Times New Roman","serif"'>kodering.</span></p>

            <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
            margin-bottom:0cm;margin-left:21.3pt;margin-bottom:.0001pt;text-align:justify;
            text-indent:-21.3pt;line-height:normal;text-autospace:none'><span lang=IN
            style='font-size:12.0pt;font-family:"Times New Roman","serif"'>(2)<span
            style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
            dir=LTR></span><span lang=IN style='font-size:12.0pt;font-family:"Times New Roman","serif"'>Pelaksanaan
            pendokumentasian sebagaimana dimaksud pada ayat (1) dapat dibantu oleh pejabat
            fungsional kearsipan.</span></p>

            <p class=MsoListParagraphCxSpMiddle style='margin:0cm;margin-bottom:.0001pt;
            text-align:justify;line-height:normal;text-autospace:none'><b><span lang=IN
            style='font-size:12.0pt;font-family:"Times New Roman","serif"'>Pasal 18</span></b></p>

            <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
            margin-bottom:0cm;margin-left:21.3pt;margin-bottom:.0001pt;text-align:justify;
            text-indent:-21.3pt;line-height:normal;text-autospace:none'><span lang=IN
            style='font-size:12.0pt;font-family:"Times New Roman","serif"'>a.<span
            style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span dir=LTR></span><span lang=IN style='font-size:12.0pt;
            font-family:"Times New Roman","serif"'>Dalam rangka menyediakan layanan
            Informasi Publik sebagaimana dimaksud dalam Pasal 14 huruf c, PPID  melakukan
            pemutakhiran data.</span></p>

            <p class=MsoListParagraphCxSpLast style='margin-top:0cm;margin-right:0cm;
            margin-bottom:0cm;margin-left:21.3pt;margin-bottom:.0001pt;text-align:justify;
            text-indent:-21.3pt;line-height:normal;text-autospace:none'><span lang=IN
            style='font-size:12.0pt;font-family:"Times New Roman","serif"'>b.<span
            style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span dir=LTR></span><span lang=IN style='font-size:12.0pt;
            font-family:"Times New Roman","serif"'>Pemutakhiran data sebagaimana dimaksud
            pada ayat (1)  berasal dari PPID SKPD.</span></p>
            </div>
		    </p>
            <br><br>
        </div>
    </div>
    <!-- Berkala Serta Merta setiap saat -->
        <p class="text-fancy"><small>Pejabat Pengelola Informasi dan Dokumentasi (PPID) Kabupaten Lombok Barat menyediakan akses informasi publik bagi pemohon informasi sebagai salah satu wujud pelaksanaan keterbukaan informasi publik.</small></p>
  
{% endblock %}
