{% extends "ppid/base-content.html" %}
{% load static %}
{% block content %}

    <div class="block-highlight block-pd-h block-pd-sm">
        <h3 class="block-title">
        <!-- ISI DIP -->
        <h2 class="block-title">
            Layanan Pengaduan Masyarakat
        </h2>
          <p class="text-fancy">Layanan Pengaduan Masyarakat Kabupaten Lombok Barat adalah sistem aplikasi yang disediakan oleh Pemerintah Kabupaten Lombok Barat bagi masyarakat Lombok Barat Anda yang memiliki informasi dan ingin mengadukan berbagai keluhan terkait pelayanan pemerintahan.</p>
          <div class="row">
        <div class="col-md-4 text-center">
            <div class="stat">
                <a href="http://sapa.lombokbaratkab.go.id/" target="_blank" class="overlay-wrapper">
                    <img src="{% static 'images/services/sapa.png' %}" alt="Project 1 image" class="img-responsive underlay" >
                    <span class="overlay">
                    <span class="overlay-content"> <span class="h4">SAPA Lobar<i class="fa fa-external-link"></i></span> </span>
                    </span>
                </a>
                
                <h3 class="block-title">
                SAPA
                </h3>
                <small>Sarana Pengaduan dan Aspirasi Langsung..</small>
            </div>
        </div>
        <div class="col-md-4 text-center pull-center" >
            <div class="stat">
                <a href="https://lapor.go.id/"   class="overlay-wrapper" target="_blank">
                    <img src="{% static 'images/services/lapor.png' %}" alt="Project 1 image" class="img-responsive underlay" >
                    <span class="overlay">
                    <span class="overlay-content"> <span class="h4">lapor.go.id<i class="fa fa-external-link"></i></span> </span>
                    </span>
                </a>
                
                <h3 class="block-title">
                Lapor
                </h3>
                <small>Layanan Aspirasi dan Pengaduan Online Rakyat</small>
            </div>
        </div>
        <div class="col-md-4 text-center pull-center" >
            <div class="stat">
                <a href="http://lombokbaratkab.go.id/kritik-dan-saran/website/"   class="overlay-wrapper" target="_blank">
                    <img src="{% static 'images/services/webmail.png' %}" alt="Project 1 image" class="img-responsive underlay" >
                    <span class="overlay">
                    <span class="overlay-content"> <span class="h4">Kirim email<i class="fa fa-external-link"></i></span> </span>
                    </span>
                </a>
                
                <h3 class="block-title">
                Webmail
                </h3>
                <small>Sampaikan Pengaduan dan Aspirasi Anda Melalui Email</small>
            </div>
        </div>
        <div class="col-md-4 text-center pull-center" >
            <div class="stat">
                <a href="#"   class="overlay-wrapper">
                    <img src="{% static 'images/services/sms.png' %}" alt="Project 1 image" class="img-responsive underlay" >
                    <span class="overlay">
                    <span class="overlay-content"> <span class="h4">087717041958<i class="fa fa-external-link"></i></span> </span>
                    </span>
                </a>
                
                <h3 class="block-title">
                SMS CENTER
                </h3>
                <small>Sampaikan Pengaaduan Melaui SMS Center Kabupaten Lombok Barat (087717041958)</small>
            </div>
        </div>
       <div class="col-md-4 text-center pull-center" >
               <div class="stat">
              <a href="#"   class="overlay-wrapper" >
                <img src="{% static 'images/services/saberpungli.png' %}" alt="Project 1 image" class="img-responsive underlay" width="200" height="200" >
                <span class="overlay">
                  <span class="overlay-content"> <span class="h4">081999193888<i class="fa fa-external-link"></i></span> </span>
                </span>
              </a>
             <h3 class="block-title">
               Saber Pungli
              </h3>
              <small>SAPU BERSIH PUNGUTAN LIAR, Laporkan Pungli Call/SMS Center (081 999 193 888)</small>
              
            </div>
        </div>
        <div class="col-md-4 text-center pull-center" >
            <div class="stat">
                <a href="https://web.whatsapp.com/send?phone=6281803664064&amp;text=Silahkan Isi Form PPID Dibawah Ini %0A Nama Lengkap %3A%0A Alamat Lengkap %3A%0A Isi Pengaduan %3A"   class="overlay-wrapper" target ="_blank">
                    <img src="{% static 'images/services/wa.png' %}" alt="Project 1 image" class="img-responsive underlay" width="120" height="120">
                    <span class="overlay">
                    <span class="overlay-content"> <span class="h4">Klik Disini<i class="fa fa-external-link"></i></span> </span>
                    </span>
                </a>
                
                <h3 class="block-title">
                WhatsApp
                </h3>
                <small>Pengaduan Online Melalui WhatsApp</small>
            </div>
        </div>
    </div>
        <!-- Berkala Serta Merta setiap saat -->
</div>
<p class="text-fancy"><small>Pejabat Pengelola Informasi dan Dokumentasi (PPID) Kabupaten Lombok Barat menyediakan akses informasi publik bagi pemohon informasi sebagai salah satu wujud pelaksanaan keterbukaan informasi publik.</small></p>

{% endblock %}
