{% extends "ppid/base-content.html" %}
{% load static %}
{% block content %}

        <div class="block-highlight block-pd-h block-pd-sm">
            <h3 class="block-title">
                <!-- ISI DIP -->
            <h2 class="block-title">
            Hubungi Kami
            </h2>
            <div class="text-center pull-center" >
            <p class="text-fancy">
            <img src="{% static 'images/services/bg_services.jpg' %}" class="img-responsive img-thumbnail pull-right m-l m-b">
            <h3><strong>KANTOR DISKOMINFOTIK LOMBOK BARAT</strong></h3></p>
            <p> 
            Jalan Penas IX Desa Dasan Geres Kecamatan Gerung </p>
            <p>Kabupaten Lombok Barat</p>
            <p>Provinsi Nusa Tenggara Barat</p>
            <p>Indonesia</p>
            <p>Telp , Fax. 6183006 Kode Pos 83363</p>
            <p>Email : ppid@lombokbaratkab.go.id</p>
            <p>Website : www.ppid.lombokbaratkab.go.id</p>
            <br><br>
        </div>
        <!-- Berkala Serta Merta setiap saat -->
    </div>
    <p class="text-fancy"><small>Pejabat Pengelola Informasi dan Dokumentasi (PPID) Kabupaten Lombok Barat menyediakan akses informasi publik bagi pemohon informasi sebagai salah satu wujud pelaksanaan keterbukaan informasi publik.</small></p>

{% endblock %}
