{% extends "ppid/base-content.html" %}

{% block content %}
<div class="block-highlight block-pd-h block-pd-sm">
    <h3 class="block-title">
        <ul class='info-list'>
        <p class="lead"><span id="publish_date">INFORMASI BERKALA</span></p>
        <div class="block-highlight block-pd-h block-pd-sm">
            <h4 class="block-title"> Laporan Seksi Kesejahteraan Sosial - </h4>
            <p class="text-fancy"><h5><i class="fa fa-calendar"></i> 02 Juni 2021|
            <i class="fa fa fa-cog"></i> 4.38 MB |
            <i class="fa fa-book"></i></b>Dibaca 11 X |
            <i class="fa fa-download"></i>5 X
            OPD :  
            <align ="right">
            <a  class="btn btn-more i-right"  href="rinciandip-44-2-5429" class="link2 fleft" onClick="document.getElementById('domain-form').submit()" title="SeksiKesejahteraanSosial02331702062021.pdf"">Lihat<i class="fa fa-eye"></i></a>
            <a class="btn btn-more i-right"  href="detail_vw.ph  p?act=kprl&file=../fileppid/SeksiKesejahteraanSosial02331702062021.pdf&id=5429" class="link2 fleft" onClick="document.getElementById('domain-form').submit()" title="SeksiKesejahteraanSosial02331702062021.pdf"">Download <i class="fa fa-download"></i></a>  
            </align></h5>
            </p>
        </div>
        <div class="pagination"><span class="current"> <b>1</b> </span><span class="disabled"> <a href='/p_mekanisme.php?act=berkala&id=2&page=2'>2</a> </span><span class="disabled"> <a href='/p_mekanisme.php?act=berkala&id=2&page=3'>3</a> 
    </span><span class="disabled"> <a href='/p_mekanisme.php?act=berkala&id=2&page=4'>4</a> </span><span class="disabled"> <a href='/p_mekanisme.php?act=berkala&id=2&page=247'>247</a> </span><a href='/p_mekanisme.php?act=berkala&id=2&page=2'>Next &gt;&gt;</a>|| <span class="current">Jumlah Data =3694         
</div>
</div>

{% endblock %}
 