{% extends "ppid/base.html" %}

{% block content %}

<div class="container" id="about">
    <div class="row">
        <!--main content-->
        <div class="col-md-9 col-md-push-3">
            <div class="page-header">
              <h3>
                DAFTAR INFORMASI PUBLIK  <a href="DIP" class="btn btn-more large i-right">Total Data 4586<i class="fa fa-search  " ></i></a>
                <small></small></h3>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="stat">
                        <a href="berkala"><span data-counter-up>3693</span></a>
                        <small>Informasi Berkala</small>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="stat">
                        <a href="sertamerta"><span data-counter-up>211</span></a>
                        <small>Seta Merta</small>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="stat">
                        <a href="setiapsaat"><span data-counter-up>536</span>
                        <small>Setiap Saat</small></a>
                    </div>
                </div>
            </div>
        <div class="block-highlight block-pd-h block-pd-sm">
            <h3 class="block-title">
             <!-- ISI DIP -->
                        <h3 class="block-title">Mekanisme dan Standar Pelayanan</h3>
    <ul class="list-dotted">
        <h5 class="media-heading">
        <li><a href="detail_vw.php?id=27&act=art" class="text-weight-strong">LAPORAN PPID KABUPATEN LOMBOK BARAT TAHUN 2014 (II) </a></li> </h4>
            <h5 class="media-heading">
        <li><a href="detail_vw.php?id=6&act=art" class="text-weight-strong">MEKANISME PENGUMPULAN, PENGKLASIFIKASIAN, PENYUSUNAN DAFTAR INFORMASI PUBLIK, PENDOKUMENTASIAN, DAN PELAYANAN INFORMASI </a></li> </h4>
            <h5 class="media-heading">
        <li><a href="detail_vw.php?id=23&act=art" class="text-weight-strong">HAK DAN KEWAJIBAN PEMOHON ATAU PENGGUNA INFORMASI PUBLIK DI KABUPATEN LOMBOK BARAT </a></li> </h4>
            <h5 class="media-heading">
        <li><a href="detail_vw.php?id=24&act=art" class="text-weight-strong">TATACARA KEBERATAN DAN PENYELESAIAN SENGKETA INFORMASI PUBLIK </a></li> </h4>
            <h5 class="media-heading">
        <li><a href="detail_vw.php?id=11&act=art" class="text-weight-strong">Pelayanan Informasi </a></li> </h4>
            <h5 class="media-heading">
        <li><a href="detail_vw.php?id=12&act=art" class="text-weight-strong">Pendokumentasian Informasi </a></li> </h4>
            <h5 class="media-heading">
        <li><a href="detail_vw.php?id=13&act=art" class="text-weight-strong">PENYELESAIAN SENGKETA INFORMASI </a></li> </h4>
            <h5 class="media-heading">
        <li><a href="detail_vw.php?id=14&act=art" class="text-weight-strong">Alur Pengumpulan Informasi yang berada di setiap SKPD di Lingkup Pemerintah Kabupaten Lombok Barat </a></li> </h4>
            <h5 class="media-heading">
        <li><a href="detail_vw.php?id=15&act=art" class="text-weight-strong">Alur Penyusunan DIP di Lingkungan Pemerintah Kabupaten Lombok Barat </a></li> </h4>
            <h5 class="media-heading">
        <li><a href="detail_vw.php?id=16&act=art" class="text-weight-strong">Alur Kerja Pelayanan Informasi Publik PPID Lomok Barat </a></li> </h4>
            <h5 class="media-heading">
        <li><a href="detail_vw.php?id=17&act=art" class="text-weight-strong">Download SOP PPID Kabupaten Lombok Barat </a></li> </h4>
            <h5 class="media-heading">
        <li><a href="detail_vw.php?id=18&act=art" class="text-weight-strong">TATA CARA PENGADUAN PELAYANAN PUBLIK  MENURUT PERBUB NO 32 TAHUN 2014 </a></li> </h4>
            <h5 class="media-heading">
        <li><a href="detail_vw.php?id=10&act=art" class="text-weight-strong">Pendokumentasian Informasi </a></li> </h4>
            <h5 class="media-heading">
        <li><a href="detail_vw.php?id=7&act=art" class="text-weight-strong">Pengumpulan Informasi </a></li> </h4>
            <h5 class="media-heading">
        <li><a href="detail_vw.php?id=8&act=art" class="text-weight-strong">Pengklasifikasian Informasi </a></li> </h4>
  
<!-- Berkala Serta Merta setiap saat -->
     
            <p class="text-fancy"><small>Pejabat Pengelola Informasi dan Dokumentasi (PPID) Kabupaten Lombok Barat menyediakan akses informasi publik bagi pemohon informasi sebagai salah satu wujud pelaksanaan keterbukaan informasi publik.</small></p>
        </div>
        <div class="block">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="block-title">DIP Paling Dicari </h3>
                    <div class="stat">
                        <a href="rinciandip-52-2-2159"><small style="text-align:left;"> LAKIP Kabupaten Lombok Barat Tahun 2016<span class="badge pull-right"> 25166 X </a></small>
                        <a href="rinciandip-48-2-1698"><small style="text-align:left;"> LRA -  2016<span class="badge pull-right"> 3068 X </a></small>
                        <a href="rinciandip-18-2-1564"><small style="text-align:left;"> Struktur organisasi kesbangpol<span class="badge pull-right"> 2736 X </a></small>
                        <a href="rinciandip-10-4-756"><small style="text-align:left;"> SK. Tim penyusun RKPD Tahun 2016<span class="badge pull-right"> 2640 X </a></small>
                        <a href="rinciandip-48-2-2321"><small style="text-align:left;"> SOP Pelayanan Informasi Publik PPID Lombok Barat<span class="badge pull-right"> 2576 X </a></small>
                        <a href="rinciandip-8-4-1978"><small style="text-align:left;"> Struktur Organisasi DPUTR 2017<span class="badge pull-right"> 2417 X </a></small>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3 class="block-title">DIP Paling Banyak Didownload </h3>
                    <div class="stat">
                        <a href="rinciandip-14-2-4891"><small style="text-align:left;"> Data Statistik DP2KBP3A Lobar<span class="badge pull-right " > 4175 X </a></small>
                        <a href="rinciandip-10-4-561"><small style="text-align:left;"> PDRB atas Dasar Penggunaan Tahun 2013<span class="badge pull-right " > 1309 X </a></small>
                        <a href="rinciandip-26-2-433"><small style="text-align:left;"> Data SKPD<span class="badge pull-right " > 1275 X </a></small>
                        <a href="rinciandip-10-4-756"><small style="text-align:left;"> SK. Tim penyusun RKPD Tahun 2016<span class="badge pull-right " > 1209 X </a></small>
                        <a href="rinciandip-2-2-3219"><small style="text-align:left;"> Keputusan Bupati Lombok Barat No. 110/19.1/Diskominfo tentang PLID Lombok Barat Tahun 2018<span class="badge pull-right " > 1157 X </a></small>
                        <a href="rinciandip-5-2-52"><small style="text-align:left;"> daftar Nama SMP Terbuka di Lombok Barat 2014<span class="badge pull-right " > 1055 X </a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- sidebar -->
    <div class="col-md-3 col-md-pull-9 sidebar visible-md-block visible-lg-block">
        <!--user menu-->
        <div class="input-group stylish-input-group">
            <form class="navbar-form" role="search" method="post" action="cari">
                <div class="input-group add-on">
                    <input class="form-control" placeholder="Cari DIP" name="search" id="cariauto" type="text">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
            <ul class="nav nav-pills nav-stacked">
                <li class="hidden-xs">
                    <a href="" class="first" style="text-align: left;">
                        Statistik DIP
                        <a href="DIP"><small style="text-align:left;" >Total Informasi Publik Terupload <span class="badge pull-right">4586</span></small></a>
                        <a href="berkala"><small style="text-align:left;">Jumlah Informasi Berkala  <span class="badge pull-right">3693</span></small></a>
                        <a href="sertamerta"><small style="text-align:left;">Jumlah Informasi Serta Merta <span class="badge pull-right">211</span></small></a>
                        <a href="DIPSETIAPSAAT"><small style="text-align:left;">Jumlah Informasi Setiap Saat <span class="badge pull-right">536</span></small></a>
                    </a>
                </li>
                <li>
                    <a href="opdlobar" style="text-align: left;">
                        OPD Lombok Barat 
                        <a href="opd-8.html" data-toggle="tooltip" data-placement="top" title="Dinas Pekerjaan Umum dan Penataan Ruang?"><small style="text-align:left;">DPU TR<span class="badge pull-right">133</span></small></a>
                        <a href="opd-7.html" data-toggle="tooltip" data-placement="top" title="Rumah Sakit Umum Daerah Patut Patuh Patju?"><small style="text-align:left;">RSUD Tripat<span class="badge pull-right">42</span></small></a>
                        <a href="opd-6.html" data-toggle="tooltip" data-placement="top" title="Dinas Kesehatan?"><small style="text-align:left;">DIKES<span class="badge pull-right">102</span></small></a>
                        <a href="opd-52.html" data-toggle="tooltip" data-placement="top" title="Sekretariat Daerah?"><small style="text-align:left;">Sekretariat Daerah<span class="badge pull-right">52</span></small></a>
                        <a href="opd-51.html" data-toggle="tooltip" data-placement="top" title="Badan Pengelolaan Keuangan dan Aset Daerah?"><small style="text-align:left;">BPKAD<span class="badge pull-right">164</span></small></a>
                        <a href="opd-50.html" data-toggle="tooltip" data-placement="top" title="Dinas Tenaga Kerja?"><small style="text-align:left;">DISNAKER<span class="badge pull-right">41</span></small></a>
                        <a href="opd-49.html" data-toggle="tooltip" data-placement="top" title="Dinas Pemuda dan Olah Raga?"><small style="text-align:left;">DISPORA<span class="badge pull-right">30</span></small></a>
                        <a href="opd-48.html" data-toggle="tooltip" data-placement="top" title="DINAS KOMUNIKASI INFORMATIKA DAN STATISTIK?"><small style="text-align:left;">DISKOMINFO<span class="badge pull-right">165</span></small></a>
                        <a href="opd-47.html" data-toggle="tooltip" data-placement="top" title="Dinas Pemadam Kebakaran?"><small style="text-align:left;">DISDAMKAR<span class="badge pull-right">49</span></small></a>
                        <a href="opd-46.html" data-toggle="tooltip" data-placement="top" title="Dinas Perumahan dan Pemukiman?"><small style="text-align:left;">DISPERKIM<span class="badge pull-right">64</span></small></a>
                        <a href="opd-44.html" data-toggle="tooltip" data-placement="top" title="KECAMATAN Batu Layar?"><small style="text-align:left;">KECAMATAN Batu Layar<span class="badge pull-right">105</span></small></a>
                        <a href="opd-43.html" data-toggle="tooltip" data-placement="top" title="KECAMATAN Gunungsari?"><small style="text-align:left;">KECAMATAN Gunungsari<span class="badge pull-right">76</span></small></a>
                        <a href="opd-42.html" data-toggle="tooltip" data-placement="top" title="KECAMATAN Lingsar?"><small style="text-align:left;">KECAMATAN Lingsar<span class="badge pull-right">90</span></small></a>
                        <a href="opd-41.html" data-toggle="tooltip" data-placement="top" title="KECAMATAN Narmada?"><small style="text-align:left;">KECAMATAN Narmada<span class="badge pull-right">87</span></small></a>
                        <a href="opd-40.html" data-toggle="tooltip" data-placement="top" title="KECAMATAN Kediri?"><small style="text-align:left;">KECAMATAN Kediri<span class="badge pull-right">78</span></small></a>
                        <a href="opd-4.html" data-toggle="tooltip" data-placement="top" title="Dewan Perwakilan Rakyat Daerah Kab. Lombok Barat?"><small style="text-align:left;">DPRD Lobar<span class="badge pull-right">9</span></small></a>
                        <a href="opd-39.html" data-toggle="tooltip" data-placement="top" title="KECAMATAN Labuapi?"><small style="text-align:left;">KECAMATAN Labuapi<span class="badge pull-right">114</span></small></a>
                        <a href="opd-37.html" data-toggle="tooltip" data-placement="top" title="KECAMATAN Gerung?"><small style="text-align:left;">KECAMATAN Gerung<span class="badge pull-right">116</span></small></a>
                        <a href="opd-36.html" data-toggle="tooltip" data-placement="top" title="KECAMATAN Lembar?"><small style="text-align:left;">KECAMATAN Lembar<span class="badge pull-right">28</span></small></a>
                        <a href="opd-35.html" data-toggle="tooltip" data-placement="top" title="KECAMATAN Sekotong?"><small style="text-align:left;">Kecamatan Sekotong<span class="badge pull-right">15</span></small></a>
                        <a href="opd-33.html" data-toggle="tooltip" data-placement="top" title="Dinas Kelautan dan Perikanan?"><small style="text-align:left;">DKP<span class="badge pull-right">75</span></small></a>
                        <a href="opd-32.html" data-toggle="tooltip" data-placement="top" title="Dinas PAriwisata?"><small style="text-align:left;">DISPAR<span class="badge pull-right">146</span></small></a>
                        <a href="opd-3.html" data-toggle="tooltip" data-placement="top" title="Dinas Perindustrian dan Perdagangan?"><small style="text-align:left;">DISPERINDAG<span class="badge pull-right">83</span></small></a>
                        <a href="opd-29.html" data-toggle="tooltip" data-placement="top" title="Dinas Pertanian?"><small style="text-align:left;">DIPERTA<span class="badge pull-right">26</span></small></a>
                        <a href="opd-28.html" data-toggle="tooltip" data-placement="top" title="Dinas Ketahanan Pangan?"><small style="text-align:left;">DIKPANGAN<span class="badge pull-right">228</span></small></a>
                        <a href="opd-26.html" data-toggle="tooltip" data-placement="top" title="Dinas Kearsipan dan Perpustakaan?"><small style="text-align:left;">DISARPUS<span class="badge pull-right">240</span></small></a>
                        <a href="opd-25.html" data-toggle="tooltip" data-placement="top" title="Dinas Pemberdayaan Masyarakat dan Desa?"><small style="text-align:left;">DPMD<span class="badge pull-right">64</span></small></a>
                        <a href="opd-23.html" data-toggle="tooltip" data-placement="top" title="Inspektorat Kabupaten?"><small style="text-align:left;">Inspektorat <span class="badge pull-right">87</span></small></a>
                        <a href="opd-22.html" data-toggle="tooltip" data-placement="top" title="Badan Kepegawaian dan Pengembangan Sumber Daya Manusia?"><small style="text-align:left;">BKDPSDM<span class="badge pull-right">323</span></small></a>
                        <a href="opd-21.html" data-toggle="tooltip" data-placement="top" title="Badan Pendapatan Daerah?"><small style="text-align:left;">BAPENDA<span class="badge pull-right">47</span></small></a>
                        <a href="opd-20.html" data-toggle="tooltip" data-placement="top" title="Badan Penanggulangan Bencana Daerah?"><small style="text-align:left;">BPBD<span class="badge pull-right">47</span></small></a>
                        <a href="opd-2.html" data-toggle="tooltip" data-placement="top" title="PPID Utama?"><small style="text-align:left;">PPID<span class="badge pull-right">221</span></small></a>
                        <a href="opd-19.html" data-toggle="tooltip" data-placement="top" title="Satuan Polisi Pamong Praja?"><small style="text-align:left;">SATPOL PP<span class="badge pull-right">52</span></small></a>
                        <a href="opd-18.html" data-toggle="tooltip" data-placement="top" title="BAKESBANGPOL?"><small style="text-align:left;">BAKESBANGPOL<span class="badge pull-right">81</span></small></a>
                        <a href="opd-17.html" data-toggle="tooltip" data-placement="top" title="Dinas Penanaman Modal dan Pelayanan Terpadu Satu Pintu?"><small style="text-align:left;">DPM PTSP<span class="badge pull-right">33</span></small></a>
                        <a href="opd-16.html" data-toggle="tooltip" data-placement="top" title="Dinas Koperasi dan Usaha Kecil Menengah?"><small style="text-align:left;">Diskop UKM<span class="badge pull-right">72</span></small></a>
                        <a href="opd-15.html" data-toggle="tooltip" data-placement="top" title="Dinas Sosial?"><small style="text-align:left;">DINSOS<span class="badge pull-right">81</span></small></a>
                        <a href="opd-14.html" data-toggle="tooltip" data-placement="top" title="Dinas Pengendalian Penduduk, Keluarga Berencana, Pemberdayaan Perempuan dan Perlindungan Anak?"><small style="text-align:left;">DP2KBP3A<span class="badge pull-right">51</span></small></a>
                        <a href="opd-13.html" data-toggle="tooltip" data-placement="top" title="Dinas Kependudukan dan Catatan Sipil?"><small style="text-align:left;">DISDUKCAPIL<span class="badge pull-right">432</span></small></a>
                        <a href="opd-12.html" data-toggle="tooltip" data-placement="top" title="Dinas Lingkungan Hidup?"><small style="text-align:left;">DLH<span class="badge pull-right">46</span></small></a>
                        <a href="opd-11.html" data-toggle="tooltip" data-pla         cement="top" title="Dinas  Perhubungan?"><small style="text-align:left;">Dishub<span class="badge pull-right">67</span></small></a>
                        <a href="opd-10.html" data-toggle="tooltip" data-placement="top" title="Badan Perencanaan Pembangunan Daerah?"><small style="text-align:left;">BAPPEDA<span class="badge pull-right">336</span></small></a>
                </li>
                <li class="hidden-xs">
                    <a href="#" style="text-align: left;">
                        Berita PPID
                        <small>
                        
                        </small>
                    </a>
                </li>
                <p></p>
                <li>
                    <a href="#" style="text-align: left;">
                    Berita Lombok Barat
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
