{% extends "ppid/base-content.html" %}
{% load static %}
{% block content %}
        <div class="block-highlight block-pd-h block-pd-sm">
            <h3 class="block-title">
                <!-- ISI DIP -->

            <h2 class="block-title">
            Maklumat Layanan PPID
            </h2>
            <div class="text-center pull-center" >
            <p class="text-fancy">
                <img src="{% static 'images/services/maklumat2019.jpeg' %}" class="img-responsive img-thumbnail pull-right m-l m-b">
            </p>
            <br><br>
        </div>
        <!-- Berkala Serta Merta setiap saat -->
    </div>
    <p class="text-fancy"><small>Pejabat Pengelola Informasi dan Dokumentasi (PPID) Kabupaten Lombok Barat menyediakan akses informasi publik bagi pemohon informasi sebagai salah satu wujud pelaksanaan keterbukaan informasi publik.</small></p>
{% endblock %}
