{% extends "ppid/base-content.html" %}

{% block content %}
  <!--main content-->
  <div class="block-highlight block-pd-h block-pd-sm">
      <h3 class="block-title">
        <!-- ISI DIP -->
  <h4 class="block-title">
      Organisasi Perangkat Daerah (OPD) Lombok Barat
  </h4>
  <table class="table table-bordered">
      <thead>
          <tr>
              <th>NO</th>
              <th>OPD</th>
              <th>Jumlah DIP</th>
              <th>Website</th>
        </tr>
      </thead>
      <tbody>
          <tr>
              <td rowcol-md-="2">1</td>
              <td><small style="text-align:left;">Dinas Pekerjaan Umum dan Penataan Ruang</small> <a href="p_mekanisme.php?id=8&act=dipskpd" class="text-weight-strong"> (DPU TR)</a>
              </td>
              <td><a href="p_mekanisme.php?id=8&act=dipskpd" data-toggle="tooltip" data-placement="top" title="Dinas Pekerjaan Umum dan Penataan Ruang?">133</a></td>
              <td><a href="http://pu.lombokbaratkab.go.id/" target="_blank">http://pu.lombokbaratkab.go.id/</a></td>
          </tr>
          <tr>
              <td rowcol-md-="2">2</td>
              <td><small style="text-align:left;">Rumah Sakit Umum Daerah Patut Patuh Patju</small> <a href="p_mekanisme.php?id=7&act=dipskpd" class="text-weight-strong"> (RSUD Tripat)</a>
              </td>
              <td><a href="p_mekanisme.php?id=7&act=dipskpd" data-toggle="tooltip" data-placement="top" title="Rumah Sakit Umum Daerah Patut Patuh Patju?">42</a></td>
              <td><a href="http://rsud.lombokbaratkab.go.id/" target="_blank">http://rsud.lombokbaratkab.go.id/</a></td>
          </tr>
          <tr>
              <td rowcol-md-="2">3</td>
              <td><small style="text-align:left;">Dinas Kesehatan</small> <a href="p_mekanisme.php?id=6&act=dipskpd" class="text-weight-strong"> (DIKES)</a>
              </td>
              <td><a href="p_mekanisme.php?id=6&act=dipskpd" data-toggle="tooltip" data-placement="top" title="Dinas Kesehatan?">102</a></td>
              <td><a href="http://dikes.lombokbaratkab.go.id/" target="_blank">http://dikes.lombokbaratkab.go.id/</a></td>
          </tr>
          <tr>
              <td rowcol-md-="2">4</td>
              <td><small style="text-align:left;">Sekretariat Daerah</small> <a href="p_mekanisme.php?id=52&act=dipskpd" class="text-weight-strong"> (Sekretariat Daerah)</a>
              </td>
              <td><a href="p_mekanisme.php?id=52&act=dipskpd" data-toggle="tooltip" data-placement="top" title="Sekretariat Daerah?">52</a></td>
              <td><a href="http://lombokbaratkab.go.id" target="_blank">http://lombokbaratkab.go.id</a></td>
          </tr>
          <tr>
              <td rowcol-md-="2">5</td>
              <td><small style="text-align:left;">Badan Pengelolaan Keuangan dan Aset Daerah</small> <a href="p_mekanisme.php?id=51&act=dipskpd" class="text-weight-strong"> (BPKAD)</a>
              </td>
              <td><a href="p_mekanisme.php?id=51&act=dipskpd" data-toggle="tooltip" data-placement="top" title="Badan Pengelolaan Keuangan dan Aset Daerah?">164</a></td>
              <td><a href="http://bpkad.lombokbaratkab.go.id/" target="_blank">http://bpkad.lombokbaratkab.go.id/</a></td>
          </tr>
          <tr>
              <td rowcol-md-="2">6</td>
              <td><small style="text-align:left;">Dinas Tenaga Kerja</small> <a href="p_mekanisme.php?id=50&act=dipskpd" class="text-weight-strong"> (DISNAKER)</a>
              </td>
              <td><a href="p_mekanisme.php?id=50&act=dipskpd" data-toggle="tooltip" data-placement="top" title="Dinas Tenaga Kerja?">41</a></td>
              <td><a href="http://disnaker.lombokbaratkab.go.id/" target="_blank">http://disnaker.lombokbaratkab.go.id/</a></td>
          </tr>
          <tr>
              <td rowcol-md-="2">7</td>
              <td><small style="text-align:left;">Dinas Pemuda dan Olah Raga</small> <a href="p_mekanisme.php?id=49&act=dipskpd" class="text-weight-strong"> (DISPORA)</a>
              </td>
              <td><a href="p_mekanisme.php?id=49&act=dipskpd" data-toggle="tooltip" data-placement="top" title="Dinas Pemuda dan Olah Raga?">30</a></td>
              <td><a href="http://dispora.lombokbaratkab.go.id/" target="_blank">http://dispora.lombokbaratkab.go.id/</a></td>
          </tr>
          <tr>
              <td rowcol-md-="2">8</td>
              <td><small style="text-align:left;">DINAS KOMUNIKASI INFORMATIKA DAN STATISTIK</small> <a href="p_mekanisme.php?id=48&act=dipskpd" class="text-weight-strong"> (DISKOMINFO)</a>
              </td>
              <td><a href="p_mekanisme.php?id=48&act=dipskpd" data-toggle="tooltip" data-placement="top" title="DINAS KOMUNIKASI INFORMATIKA DAN STATISTIK?">165</a></td>
              <td><a href="http://diskominfo.lombokbaratkab.go.id/" target="_blank">http://diskominfo.lombokbaratkab.go.id/</a></td>
          </tr>
          <tr>
              <td rowcol-md-="2">9</td>
              <td><small style="text-align:left;">Dinas Pemadam Kebakaran</small> <a href="p_mekanisme.php?id=47&act=dipskpd" class="text-weight-strong"> (DISDAMKAR)</a>
              </td>
              <td><a href="p_mekanisme.php?id=47&act=dipskpd" data-toggle="tooltip" data-placement="top" title="Dinas Pemadam Kebakaran?">49</a></td>
              <td><a href="http://disdamkar.lombokbaratkab.go.id/" target="_blank">http://disdamkar.lombokbaratkab.go.id/</a></td>
          </tr>
          <tr>
              <td rowcol-md-="2">10</td>
              <td><small style="text-align:left;">Dinas Perumahan dan Pemukiman</small> <a href="p_mekanisme.php?id=46&act=dipskpd" class="text-weight-strong"> (DISPERKIM)</a>
              </td>
              <td><a href="p_mekanisme.php?id=46&act=dipskpd" data-toggle="tooltip" data-placement="top" title="Dinas Perumahan dan Pemukiman?">64</a></td>
              <td><a href="http://disperkim.lombokbaratkab.go.id/" target="_blank">http://disperkim.lombokbaratkab.go.id/</a></td>
          </tr>
          <tr>
              <td rowcol-md-="2">11</td>
              <td><small style="text-align:left;">KECAMATAN Batu Layar</small> <a href="p_mekanisme.php?id=44&act=dipskpd" class="text-weight-strong"> (KECAMATAN Batu Layar)</a>
              </td>
              <td><a href="p_mekanisme.php?id=44&act=dipskpd" data-toggle="tooltip" data-placement="top" title="KECAMATAN Batu Layar?">105</a></td>
              <td><a href="http://batulayar.lombokbaratkab.go.id/" target="_blank">http://batulayar.lombokbaratkab.go.id/</a></td>
          </tr>
          <tr>
              <td rowcol-md-="2">12</td>
              <td><small style="text-align:left;">KECAMATAN Gunungsari</small> <a href="p_mekanisme.php?id=43&act=dipskpd" class="text-weight-strong"> (KECAMATAN Gunungsari)</a>
              </td>
              <td><a href="p_mekanisme.php?id=43&act=dipskpd" data-toggle="tooltip" data-placement="top" title="KECAMATAN Gunungsari?">76</a></td>
              <td><a href="http://gunungsari.lombokbaratkab.go.id/" target="_blank">http://gunungsari.lombokbaratkab.go.id/</a></td>
          </tr>
          <tr>
              <td rowcol-md-="2">13</td>
              <td><small style="text-align:left;">KECAMATAN Lingsar</small> <a href="p_mekanisme.php?id=42&act=dipskpd" class="text-weight-strong"> (KECAMATAN Lingsar)</a>
              </td>
              <td><a href="p_mekanisme.php?id=42&act=dipskpd" data-toggle="tooltip" data-placement="top" title="KECAMATAN Lingsar?">90</a></td>
              <td><a href="http://lingsar.lombokbaratkab.go.id/" target="_blank">http://lingsar.lombokbaratkab.go.id/</a></td>
          </tr>
          <tr>
              <td rowcol-md-="2">14</td>
              <td><small style="text-align:left;">KECAMATAN Narmada</small> <a href="p_mekanisme.php?id=41&act=dipskpd" class="text-weight-strong"> (KECAMATAN Narmada)</a>
              </td>
              <td><a href="p_mekanisme.php?id=41&act=dipskpd" data-toggle="tooltip" data-placement="top" title="KECAMATAN Narmada?">87</a></td>
              <td><a href="http://narmada.lombokbaratkab.go.id/" target="_blank">http://narmada.lombokbaratkab.go.id/</a></td>
          </tr>
          <tr>
              <td rowcol-md-="2">15</td>
              <td><small style="text-align:left;">KECAMATAN Kediri</small> <a href="p_mekanisme.php?id=40&act=dipskpd" class="text-weight-strong"> (KECAMATAN Kediri)</a>
              </td>
              <td><a href="p_mekanisme.php?id=40&act=dipskpd" data-toggle="tooltip" data-placement="top" title="KECAMATAN Kediri?">78</a></td>
              <td><a href="http://kediri.lombokbaratkab.go.id/" target="_blank">http://kediri.lombokbaratkab.go.id/</a></td>
          </tr>
          <tr>
              <td rowcol-md-="2">16</td>
              <td><small style="text-align:left;">Dewan Perwakilan Rakyat Daerah Kab. Lombok Barat</small> <a href="p_mekanisme.php?id=4&act=dipskpd" class="text-weight-strong"> (DPRD Lobar)</a>
              </td>
              <td><a href="p_mekanisme.php?id=4&act=dipskpd" data-toggle="tooltip" data-placement="top" title="Dewan Perwakilan Rakyat Daerah Kab. Lombok Barat?">9</a></td>
              <td><a href="http://dprd.lombokbaratkab.go.id/" target="_blank">http://dprd.lombokbaratkab.go.id/</a></td>
          </tr>
          <tr>
              <td rowcol-md-="2">17</td>
              <td><small style="text-align:left;">KECAMATAN Labuapi</small> <a href="p_mekanisme.php?id=39&act=dipskpd" class="text-weight-strong"> (KECAMATAN Labuapi)</a>
              </td>
              <td><a href="p_mekanisme.php?id=39&act=dipskpd" data-toggle="tooltip" data-placement="top" title="KECAMATAN Labuapi?">114</a></td>
              <td><a href="http://labuapi.lombokbaratkab.go.id/" target="_blank">http://labuapi.lombokbaratkab.go.id/</a></td>
          </tr>
          <tr>
              <td rowcol-md-="2">18</td>
              <td><small style="text-align:left;">KECAMATAN Gerung</small> <a href="p_mekanisme.php?id=37&act=dipskpd" class="text-weight-strong"> (KECAMATAN Gerung)</a>
              </td>
              <td><a href="p_mekanisme.php?id=37&act=dipskpd" data-toggle="tooltip" data-placement="top" title="KECAMATAN Gerung?">116</a></td>
              <td><a href="http://gerung.lombokbaratkab.go.id/" target="_blank">http://gerung.lombokbaratkab.go.id/</a></td>
          </tr>
          
        <tr>
          <td rowcol-md-="2">19</td>
          <td><small style="text-align:left;">KECAMATAN Lembar</small> <a href="p_mekanisme.php?id=36&act=dipskpd" class="text-weight-strong"> (KECAMATAN Lembar)</a>
          </td>
          <td><a href="p_mekanisme.php?id=36&act=dipskpd" data-toggle="tooltip" data-placement="top" title="KECAMATAN Lembar?">28</a></td>
          <td><a href="http://lembar.lombokbaratkab.go.id/" target="_blank">http://lembar.lombokbaratkab.go.id/</a></td>
          
        </tr>
          
        <tr>
          <td rowcol-md-="2">20</td>
          <td><small style="text-align:left;">KECAMATAN Sekotong</small> <a href="p_mekanisme.php?id=35&act=dipskpd" class="text-weight-strong"> (Kecamatan Sekotong)</a>
          </td>
          <td><a href="p_mekanisme.php?id=35&act=dipskpd" data-toggle="tooltip" data-placement="top" title="KECAMATAN Sekotong?">15</a></td>
          <td><a href="http://sekotong.lombokbaratkab.go.id/" target="_blank">http://sekotong.lombokbaratkab.go.id/</a></td>
          
        </tr>
          
        <tr>
          <td rowcol-md-="2">21</td>
          <td><small style="text-align:left;">Dinas Kelautan dan Perikanan</small> <a href="p_mekanisme.php?id=33&act=dipskpd" class="text-weight-strong"> (DKP)</a>
          </td>
          <td><a href="p_mekanisme.php?id=33&act=dipskpd" data-toggle="tooltip" data-placement="top" title="Dinas Kelautan dan Perikanan?">75</a></td>
          <td><a href="http://dkp.lombokbaratkab.go.id/" target="_blank">http://dkp.lombokbaratkab.go.id/</a></td>
          
        </tr>
          
        <tr>
          <td rowcol-md-="2">22</td>
          <td><small style="text-align:left;">Dinas PAriwisata</small> <a href="p_mekanisme.php?id=32&act=dipskpd" class="text-weight-strong"> (DISPAR)</a>
          </td>
          <td><a href="p_mekanisme.php?id=32&act=dipskpd" data-toggle="tooltip" data-placement="top" title="Dinas PAriwisata?">146</a></td>
          <td><a href="http://dispar.lombokbaratkab.go.id/" target="_blank">http://dispar.lombokbaratkab.go.id/</a></td>
          
        </tr>
          
        <tr>
          <td rowcol-md-="2">23</td>
          <td><small style="text-align:left;">Dinas Perindustrian dan Perdagangan</small> <a href="p_mekanisme.php?id=3&act=dipskpd" class="text-weight-strong"> (DISPERINDAG)</a>
          </td>
          <td><a href="p_mekanisme.php?id=3&act=dipskpd" data-toggle="tooltip" data-placement="top" title="Dinas Perindustrian dan Perdagangan?">83</a></td>
          <td><a href="http://disperindag.lombokbaratkab.go.id/" target="_blank">http://disperindag.lombokbaratkab.go.id/</a></td>
          
        </tr>
          
        <tr>
          <td rowcol-md-="2">24</td>
          <td><small style="text-align:left;">Dinas Pertanian</small> <a href="p_mekanisme.php?id=29&act=dipskpd" class="text-weight-strong"> (DIPERTA)</a>
          </td>
          <td><a href="p_mekanisme.php?id=29&act=dipskpd" data-toggle="tooltip" data-placement="top" title="Dinas Pertanian?">26</a></td>
          <td><a href="http://diperta.lombokbaratkab.go.id/" target="_blank">http://diperta.lombokbaratkab.go.id/</a></td>
          
        </tr>
          
        <tr>
          <td rowcol-md-="2">25</td>
          <td><small style="text-align:left;">Dinas Ketahanan Pangan</small> <a href="p_mekanisme.php?id=28&act=dipskpd" class="text-weight-strong"> (DIKPANGAN)</a>
          </td>
          <td><a href="p_mekanisme.php?id=28&act=dipskpd" data-toggle="tooltip" data-placement="top" title="Dinas Ketahanan Pangan?">228</a></td>
          <td><a href="http://dikpangan.lombokbaratkab.go.id/" target="_blank">http://dikpangan.lombokbaratkab.go.id/</a></td>
          
        </tr>
          
        <tr>
          <td rowcol-md-="2">26</td>
          <td><small style="text-align:left;">Dinas Kearsipan dan Perpustakaan</small> <a href="p_mekanisme.php?id=26&act=dipskpd" class="text-weight-strong"> (DISARPUS)</a>
          </td>
          <td><a href="p_mekanisme.php?id=26&act=dipskpd" data-toggle="tooltip" data-placement="top" title="Dinas Kearsipan dan Perpustakaan?">240</a></td>
          <td><a href="http://disarpus.lombokbaratkab.go.id/" target="_blank">http://disarpus.lombokbaratkab.go.id/</a></td>
          
        </tr>
          
        <tr>
          <td rowcol-md-="2">27</td>
          <td><small style="text-align:left;">Dinas Pemberdayaan Masyarakat dan Desa</small> <a href="p_mekanisme.php?id=25&act=dipskpd" class="text-weight-strong"> (DPMD)</a>
          </td>
          <td><a href="p_mekanisme.php?id=25&act=dipskpd" data-toggle="tooltip" data-placement="top" title="Dinas Pemberdayaan Masyarakat dan Desa?">64</a></td>
          <td><a href="http://dpmd.lombokbaratkab.go.id/" target="_blank">http://dpmd.lombokbaratkab.go.id/</a></td>
          
        </tr>
          
        <tr>
          <td rowcol-md-="2">28</td>
          <td><small style="text-align:left;">Inspektorat Kabupaten</small> <a href="p_mekanisme.php?id=23&act=dipskpd" class="text-weight-strong"> (Inspektorat )</a>
          </td>
          <td><a href="p_mekanisme.php?id=23&act=dipskpd" data-toggle="tooltip" data-placement="top" title="Inspektorat Kabupaten?">87</a></td>
          <td><a href="http://inspektorat.lombokbaratkab.go.id/" target="_blank">http://inspektorat.lombokbaratkab.go.id/</a></td>
          
        </tr>
          
        <tr>
          <td rowcol-md-="2">29</td>
          <td><small style="text-align:left;">Badan Kepegawaian dan Pengembangan Sumber Daya Manusia</small> <a href="p_mekanisme.php?id=22&act=dipskpd" class="text-weight-strong"> (BKDPSDM)</a>
          </td>
          <td><a href="p_mekanisme.php?id=22&act=dipskpd" data-toggle="tooltip" data-placement="top" title="Badan Kepegawaian dan Pengembangan Sumber Daya Manusia?">323</a></td>
          <td><a href="http://bkdpsdm.lombokbaratkab.go.id/" target="_blank">http://bkdpsdm.lombokbaratkab.go.id/</a></td>
          
        </tr>
          
        <tr>
          <td rowcol-md-="2">30</td>
          <td><small style="text-align:left;">Badan Pendapatan Daerah</small> <a href="p_mekanisme.php?id=21&act=dipskpd" class="text-weight-strong"> (BAPENDA)</a>
          </td>
          <td><a href="p_mekanisme.php?id=21&act=dipskpd" data-toggle="tooltip" data-placement="top" title="Badan Pendapatan Daerah?">47</a></td>
          <td><a href="http://bapenda.lombokbaratkab.go.id/" target="_blank">http://bapenda.lombokbaratkab.go.id/</a></td>
          
        </tr>
          
        <tr>
          <td rowcol-md-="2">31</td>
          <td><small style="text-align:left;">Badan Penanggulangan Bencana Daerah</small> <a href="p_mekanisme.php?id=20&act=dipskpd" class="text-weight-strong"> (BPBD)</a>
          </td>
          <td><a href="p_mekanisme.php?id=20&act=dipskpd" data-toggle="tooltip" data-placement="top" title="Badan Penanggulangan Bencana Daerah?">47</a></td>
          <td><a href="http://bpbd.lombokbaratkab.go.id/" target="_blank">http://bpbd.lombokbaratkab.go.id/</a></td>
          
        </tr>
          
        <tr>
          <td rowcol-md-="2">32</td>
          <td><small style="text-align:left;">PPID Utama</small> <a href="p_mekanisme.php?id=2&act=dipskpd" class="text-weight-strong"> (PPID)</a>
          </td>
          <td><a href="p_mekanisme.php?id=2&act=dipskpd" data-toggle="tooltip" data-placement="top" title="PPID Utama?">221</a></td>
          <td><a href="http://ppid.lombokbaratkab.go.id/" target="_blank">http://ppid.lombokbaratkab.go.id/</a></td>
          
        </tr>
          
        <tr>
          <td rowcol-md-="2">33</td>
          <td><small style="text-align:left;">Satuan Polisi Pamong Praja</small> <a href="p_mekanisme.php?id=19&act=dipskpd" class="text-weight-strong"> (SATPOL PP)</a>
          </td>
          <td><a href="p_mekanisme.php?id=19&act=dipskpd" data-toggle="tooltip" data-placement="top" title="Satuan Polisi Pamong Praja?">52</a></td>
          <td><a href="http://satpolpp.lombokbaratkab.go.id/" target="_blank">http://satpolpp.lombokbaratkab.go.id/</a></td>
          
        </tr>
          
        <tr>
          <td rowcol-md-="2">34</td>
          <td><small style="text-align:left;">BAKESBANGPOL</small> <a href="p_mekanisme.php?id=18&act=dipskpd" class="text-weight-strong"> (BAKESBANGPOL)</a>
          </td>
          <td><a href="p_mekanisme.php?id=18&act=dipskpd" data-toggle="tooltip" data-placement="top" title="BAKESBANGPOL?">81</a></td>
          <td><a href="http://bakesbangpol.lombokbaratkab.go.id/" target="_blank">http://bakesbangpol.lombokbaratkab.go.id/</a></td>
          
        </tr>
          
        <tr>
          <td rowcol-md-="2">35</td>
          <td><small style="text-align:left;">Dinas Penanaman Modal dan Pelayanan Terpadu Satu Pintu</small> <a href="p_mekanisme.php?id=17&act=dipskpd" class="text-weight-strong"> (DPM PTSP)</a>
          </td>
          <td><a href="p_mekanisme.php?id=17&act=dipskpd" data-toggle="tooltip" data-placement="top" title="Dinas Penanaman Modal dan Pelayanan Terpadu Satu Pintu?">33</a></td>
          <td><a href="http://dpmptsp.lombokbaratkab.go.id/" target="_blank">http://dpmptsp.lombokbaratkab.go.id/</a></td>
          
        </tr>
          
        <tr>
          <td rowcol-md-="2">36</td>
          <td><small style="text-align:left;">Dinas Koperasi dan Usaha Kecil Menengah</small> <a href="p_mekanisme.php?id=16&act=dipskpd" class="text-weight-strong"> (Diskop UKM)</a>
          </td>
          <td><a href="p_mekanisme.php?id=16&act=dipskpd" data-toggle="tooltip" data-placement="top" title="Dinas Koperasi dan Usaha Kecil Menengah?">72</a></td>
          <td><a href="http://diskopukm.lombokbaratkab.go.id/" target="_blank">http://diskopukm.lombokbaratkab.go.id/</a></td>
          
        </tr>
          
        <tr>
          <td rowcol-md-="2">37</td>
          <td><small style="text-align:left;">Dinas Sosial</small> <a href="p_mekanisme.php?id=15&act=dipskpd" class="text-weight-strong"> (DINSOS)</a>
          </td>
          <td><a href="p_mekanisme.php?id=15&act=dipskpd" data-toggle="tooltip" data-placement="top" title="Dinas Sosial?">81</a></td>
          <td><a href="http://dinsos.lombokbaratkab.go.id/" target="_blank">http://dinsos.lombokbaratkab.go.id/</a></td>
          
        </tr>
          
        <tr>
          <td rowcol-md-="2">38</td>
          <td><small style="text-align:left;">Dinas Pengendalian Penduduk, Keluarga Berencana, Pemberdayaan Perempuan dan Perlindungan Anak</small> <a href="p_mekanisme.php?id=14&act=dipskpd" class="text-weight-strong"> (DP2KBP3A)</a>
          </td>
          <td><a href="p_mekanisme.php?id=14&act=dipskpd" data-toggle="tooltip" data-placement="top" title="Dinas Pengendalian Penduduk, Keluarga Berencana, Pemberdayaan Perempuan dan Perlindungan Anak?">51</a></td>
          <td><a href="http://dp2kbp3a.lombokbaratkab.go.id/" target="_blank">http://dp2kbp3a.lombokbaratkab.go.id/</a></td>
          
        </tr>
          
        <tr>
          <td rowcol-md-="2">39</td>
          <td><small style="text-align:left;">Dinas Kependudukan dan Catatan Sipil</small> <a href="p_mekanisme.php?id=13&act=dipskpd" class="text-weight-strong"> (DISDUKCAPIL)</a>
          </td>
          <td><a href="p_mekanisme.php?id=13&act=dipskpd" data-toggle="tooltip" data-placement="top" title="Dinas Kependudukan dan Catatan Sipil?">432</a></td>
          <td><a href="http://disdukcapil.lombokbaratkab.go.id/" target="_blank">http://disdukcapil.lombokbaratkab.go.id/</a></td>
          
        </tr>
          
        <tr>
          <td rowcol-md-="2">40</td>
          <td><small style="text-align:left;">Dinas Lingkungan Hidup</small> <a href="p_mekanisme.php?id=12&act=dipskpd" class="text-weight-strong"> (DLH)</a>
          </td>
          <td><a href="p_mekanisme.php?id=12&act=dipskpd" data-toggle="tooltip" data-placement="top" title="Dinas Lingkungan Hidup?">46</a></td>
          <td><a href="http://dlh.lombokbaratkab.go.id/" target="_blank">http://dlh.lombokbaratkab.go.id/</a></td>
          
        </tr>
          
        <tr>
          <td rowcol-md-="2">41</td>
          <td><small style="text-align:left;">Dinas  Perhubungan</small> <a href="p_mekanisme.php?id=11&act=dipskpd" class="text-weight-strong"> (Dishub)</a>
          </td>
          <td><a href="p_mekanisme.php?id=11&act=dipskpd" data-toggle="tooltip" data-placement="top" title="Dinas  Perhubungan?">67</a></td>
          <td><a href="http://dishub.lombokbaratkab.go.id/" target="_blank">http://dishub.lombokbaratkab.go.id/</a></td>
          
        </tr>
          
        <tr>
          <td rowcol-md-="2">42</td>
          <td><small style="text-align:left;">Badan Perencanaan Pembangunan Daerah</small> <a href="p_mekanisme.php?id=10&act=dipskpd" class="text-weight-strong"> (BAPPEDA)</a>
          </td>
          <td><a href="p_mekanisme.php?id=10&act=dipskpd" data-toggle="tooltip" data-placement="top" title="Badan Perencanaan Pembangunan Daerah?">336</a></td>
          <td><a href="http://bappeda.lombokbaratkab.go.id/" target="_blank">http://bappeda.lombokbaratkab.go.id/</a></td>
          
        </tr>
          
        
      </tbody>
    </table>
      <!-- Berkala Serta Merta setiap saat -->
      <p class="text-fancy"><small>Pejabat Pengelola Informasi dan Dokumentasi (PPID) Kabupaten Lombok Barat menyediakan akses informasi publik bagi pemohon informasi sebagai salah satu wujud pelaksanaan keterbukaan informasi publik.</small></p>
  </div>
{% endblock %}
