{% extends "ppid/base-content.html" %}
{% block content %}
<div class="block-highlight block-pd-h block-pd-sm">
    <h3 class="block-title">
        <h2 class="block-title">
            Draf Regulasi
        </h2>
        <div class="text-center pull-center" >
        <p>
            <div class=Section1>
                <br><br>
                <p style='text-align:justify'>Download Draf Raperda KIP <a href="/media/draf_kip.pdf" target="_blank">Download</a> </p>
                <br>
                <p style='text-align:justify'>Download Draf Perbub Metode Evaluasi KIP <a href="/media/PerbupMethodeEvaluasiKIP.pdf" target="_blank">Download</a> </p>
                <br>
                <p style='text-align:justify'>Download Draf SK Bupati Tentang Informasi yang di kecualikan <a href="/media/SKBupatittgInformasiyangdikecualikan.pdf" target="_blank">Download</a> </p>
            </div>
		</p>
        <br><br>
</div>
        <!-- Berkala Serta Merta setiap saat -->
    <p class="text-fancy"><small>Pejabat Pengelola Informasi dan Dokumentasi (PPID) Kabupaten Lombok Barat menyediakan akses informasi publik bagi pemohon informasi sebagai salah satu wujud pelaksanaan keterbukaan informasi publik.</small></p>
</div>
{% endblock %}