{% extends "ppid/base-content.html" %}

{% block content %}
<div class="block-highlight block-pd-h block-pd-sm">
    <h2 class="block-title">STANDAR HARGA PEROLEHAN INFORMASI PUBLIK</h2>
    <div class="text-center pull-center" >  
        <p>          
            <div class=Section1>
                <br><br>
                <p style='text-align:justify'>Kebijakan mengenai Standar Biaya dalam memperoleh informasi di Kabupaten Lombok Barat ditentukan sebagaimana Surat Keputusan Sekretaris Daerah Kabupaten Lombok Barat Nomor 33/1651/DISHUBKOMINFO/ 2013 tentang Standar Operasional Prosedur Pelayanan Informasi  Publik Pejabat Pengelola Informasi dan Dokumentasi di Lingkungan Pemerintah Kabupaten Lombok Barat disebutkan dalam lampiran keputusan tersebut pada angka Romawi V huruf F yang berbunyi sebagai berikut :   </p>
                <p style='text-align:justify'>PPID  Kabupaten Lombok Barat dalam memberikan pelayanan  informasi publik tidak memungut biaya. Apabila dibutuhkan penggandaan atau perekaman, pemohon informasi menyediakan sendiri media yang dibutuhkan.</p>
                <br>
            </div>
        </p>
        <br>
    </div>
</div>
{% endblock %}